@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$neal-font-family: 'Open Sans', sans-serif;
$neal-navbar-brand-color: firebrick;

@import "../node_modules/neal-react/css/base";

.nopad-bottom {
  margin-bottom: 0!important;
}

.minimal-footer {
  margin-top: 0!important;
}

.request-demo-navbar {
  background-color: #263238;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 10rem 5rem;
  }  
  .neal-section {
    padding: 2rem 0;
  }
}

// @media(min-width:576px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}


.nav-bar-btn {
  padding-bottom: 9px;
  padding-top: 9px;
}